@media(max-width: 1197px){
    .container1{
        justify-content: center;
    }
}

@media(max-width:1100px){
    .container-header{
        padding: 50px 15px 0 15px;

    }
    .box-wraper{
        justify-content: center;
    }
}

@media(max-width:740px){
    .small-box:nth-child(4),
    .small-box:nth-child(5),
    .small-box:nth-child(6) {
    margin-bottom: 25px;
}

}

@media(max-width: 630px){
    .section2-header{
        font-size: 30px;
    }
    .img img{
        size: 50%;
    }
}
@media(max-width: 600px){
    .header-he {
        font-size: 50px;
    }
}

@media (max-width:480px){
    .navigation{
        display: none;
    }
    .burger-icon{
        display: block;
    }
}

@media(max-width:320px){
    .section2-header{
        font-size: 20px;
    }
    .img{
        display: none;
    }

}

